/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

a:focus,
a::-moz-focus-inner {
    outline: none;
    border: none;
}

html {
    font-size: 10px;
    color: #000;
}

body {
    background-color: #000;
}

/* WINDOW & VIEWS */
.window, .view {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
}

.window {
    opacity: 1.0;
    background: #f4f4f4;
    transition: opacity ease 0.2s;
}

.view {
    background: #f4f4f4;
    transform: translate(0, 0);
    transition: transform 0.5s ease,
    opacity 0.2s ease;
}

/* VIEWPORTS */
.view[data-viewport="bottom"] {
    transform: translateY(100%);
}

.map {
    width: 100%;
    height: calc(100vh - 5rem);
}

body[role="application"] section[role="region"] > header .icon.config {
    background-image: url(images/icons/config.png);
    background-size: 3rem;
}

body[role="application"] section[role="region"] > header button {
    text-shadow: none;
    font-weight: normal;
}

#path-length-display {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #00f;
    font: 2rem "MozTT", Sans-serif;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1004;
}

.bottom-toolbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1004;
}
.invisible {
    display: none;
}

.bottom-btn {
    height: 4rem;
    border: none;
    width: 6rem;
    background: transparent no-repeat center / 3rem !important;
    margin: 0 calc((100% - 25rem) / 8);
}
.bottom-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
}
.bottom-btn:active {
    background-color: #008AAA !important;
}
.refresh-btn {
    background-image: url("images/icons/refresh.png") !important;
}
.refresh-btn[data-state="refreshing"] {
    animation: 0.9s refresh-rotate infinite steps(30);
}
@keyframes refresh-rotate {
    from { transform: rotate(1deg); }
    to   { transform: rotate(360deg); }
}
.delete-btn {
    background-image: url("images/icons/delete.png") !important;
}
.pause-btn {
    background-image: url("images/icons/pause.png") !important;
}
.play-btn {
    background-image: url("images/icons/play.png") !important;
}

.arrow-icon {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 36px solid green;
    opacity: 0.6;
    transform-origin: 12px 24px;
    position: relative;
    left: -6px;
    top: -16px;
}

#settings-view {
    z-index: 20;
    bottom: 0;
}
