[Desktop Entry]
Name=HikingMaps
Exec=ubuntu-html5-app-launcher --www=www
Icon=www/hikingmaps512.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

